body
{
	background-image:url("abc.jpg");
	background-size: cover;
	background-repeat:no-repeat;
}

.topright {
  position: absolute;
  top: 90px;
  right: 200px;
  width: 15%;
  border-radius: 100%;
}

.jumbotron {
	background-color: transparent;
}